:root {
    --theme: #fff;
    --text: hsl(0, 0%, 0%); 
  }
  .select2-dropdown{
    color: var(--text);
    background-color: var(--theme);
    position: relative;

  }
.placeholder-icon{
    margin-right: 10px;
}
.select2-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid;
    border-color: rgba(var(--text), 0.2);
    cursor: pointer;
}
.select2-header:has(.placeholder-icon){
    padding-left: 8px;
}
.select2-body{
  display: none;
  position: absolute;
  top: 36px;
  border-color: rgba(var(--text), 0.2);
  padding: 5px 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  min-width: 100%;
}