:root {
    --theme: #fff;
    --text: 0,0,0; 
  }
  .drop-container{
    color: var(--text);
    background-color: var(--theme);
    position: relative;

  }
.placeholder-icon{
    margin-right: 10px;
}

.drop2-select{
  width: 1px;
  height: 1px;
}
.drop-header{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px 10px;
    border: 1px solid;
    border-color: rgba(var(--text), 0.8);
    cursor: pointer;
    font-weight: 500;
}
.drop-header:has(.placeholder-icon){
    padding-left: 8px;
}
.drop-body{
  position: absolute;
  top: 36px;
  border-color: rgba(var(--text), 0.2);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  min-width: 100%;
 
}
.drop-body ul{
  max-height: 204px;
  overflow: auto;
}
.drop-body ul li{
  padding: 5px 10px;
}
.drop-action-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 6px 10px;
  border-top: 1px solid rgba(var(--text), 0.1);
}
.drop-cancel{
  background-color: #ddd;
  padding: 2px 8px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 4px;
  width: 62px;
  text-align: center;

}
.drop-select{
  background-color: #5897fb;
  padding: 2px 8px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  width: 62px;
}
.drop-hover{
  background-color: #5896fb75 !important;
  cursor: pointer;
  color: #fff;
}

span.drop2-choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 2px 6px;
  margin-right: 5px;
  font-size: 13px;
  cursor: default;
}
.drop2-choice .clear-choice{
margin-left: 5px;
cursor: pointer;
}

.drop-body ul li:hover{
  background-color: #5896fb9f;
  cursor: pointer;
  color: #fff;
}
[drop-selected='true']{
  background: #ddd;
}
.drop-body[drop-render='hide']{
  display: none;
}
.drop-body[drop-render='show']{
  display: block;
}
.multiselect-drop .drop-header{
  color: rgba(var(--text), 0.5);
  font-weight: normal;
}
input[data-search]{
  border: 1px solid rgba(128, 128, 128, 0.21);
  padding: 5px 10px;
}
.hidden{
  color: red;
}